/* -------------------------------------------------------------------------- */
/* types d'ecriture                               */
/* -------------------------------------------------------------------------- */
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.woff2') format('woff2'),
         url('../fonts/Raleway-Regular.woff') format('woff'),
         url('../fonts/Raleway-Regular.ttf') format('truetype');
    font-weight: 400; /* Regular */
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Bold.woff2') format('woff2'),
         url('../fonts/Raleway-Bold.woff') format('woff'),
         url('../fonts/Raleway-Bold.ttf') format('truetype');
    font-weight: 700; /* Bold */
    font-style: normal;
}

/* -------------------------------------------------------------------------- */
/* Réinitialisation des marges et des paddings                               */
/* -------------------------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Assurez-vous que le body et le html occupent toute la page */
html, body {
    width: 100%;
    overflow-x: hidden; /* Empêche le débordement horizontal */
}

body {
    font-family: 'Raleway', sans-serif;
    line-height: 1.6;
    background-color: #ffffff;
    color: #333333;
    font-size: 18px;
    padding: 0;
    position: relative;
    height: 100vh;/*pour que le body occupe toute la page*/
}

body::before,
body::after {
    content: "";
    position: fixed;/* Utilisation de fixed pour que l'ombre reste en place lors du lors du defilement*/
    top: 0;
    width: 150px;
    height: 100vh;/* Hauteur de l'ombre*/
    background-color: rgba(245, 245, 245, 0.2);
    z-index: -1;/* place l'ombre derriere le contenue du body*/
}

body::before {
    left: 0;
    box-shadow: 285px 0 20px rgba(227, 227, 227, 0.5);
}

body::after {
    right: 100px;
    box-shadow: -200px 0 20px rgb(227, 227, 227, 0.5);
}

.container {
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    z-index: 1;
}

h4 {
    font-size: 1.1em;
}

/* -------------------------------------------------------------------------- */
/* Header                                   */
/* -------------------------------------------------------------------------- */

header  {
    background-color: rgb(23, 171, 179);
    color: white;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #f5f5f5;
    margin-bottom: 20px;
}

.photo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
    margin-left: 20px;
}

.photo-container img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #ffffff;
    box-shadow: 0 4px 8px rgba(51, 51, 51, 0.3);
    cursor: zoom-in;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding-left: 20px;
    justify-content: center;
}

.header-content h1 {
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    margin-bottom: 10px;
    color: #f5f5f5;
}

/* -------------------------------------------------------------------------- */
/* Contact                                  */
/* -------------------------------------------------------------------------- */

.contact {
    margin-top: 20px;
}

.contact ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
}

.contact-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: calc(50% - 10px);
}

.contact-row i {
    margin-right: 8px;
}

.contact-row:nth-child(1),
.contact-row:nth-child(2) {
    display: inline-block;
    width: 48%;
}

.contact-row:nth-child(3),
.contact-row:nth-child(4) {
    display: inline-block;
    width: 48%;
}

.contact h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.contact p {
    margin-bottom: 5px;
}

.contact a:hover {
    color: rgb(23, 171, 179);
    text-decoration: underline;
}


/* -------------------------------------------------------------------------- */
/* Content (Sidebar et Main Content)          */
/* -------------------------------------------------------------------------- */

.content {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: stretch;
    min-height: 100vh;
}

.main-content,
.sidebar {
    /* ... tes autres styles ... */
    flex-grow: 1;
    align-items: stretch;
}

/* -------------------------------------------------------------------------- */
/* Sidebar                                  */
/* -------------------------------------------------------------------------- */

.sidebar {
    width: 28%;
    background-color: rgba(227, 227, 227, 0.5);
    padding: 30px;
    flex-shrink: 0;
    font-size: 16px;
}

/* Ajouter des marges aux sections de la sidebar */
.sidebar section,
.sidebar .Languages,
.sidebar .separateur-dessous {
    margin-bottom: 20px; /* Ajoutez de la marge pour espacer les sections */
}

/* Ajuster les listes de la sidebar */
.sidebar ul {
    list-style: none;
    padding-left: 0; /* Assurez-vous que les listes sont alignées à gauche */
    margin-left: 0; /* Assurez-vous que les listes sont alignées à gauche */
}

.sidebar ul.puces {
    text-align: left;
}

/* Ajuster les titres des sections de la sidebar */
.sidebar h2,
.sidebar h3,
.sidebar h4 {
    margin-left: 0; /* Assurez-vous que les titres sont alignés à gauche */
    padding-left: 0; /* Assurez-vous que les titres sont alignés à gauche */
}

/* Ajuster les éléments de la liste de la sidebar */
.sidebar ul li {
    margin-left: 0; /* Assurez-vous que les éléments de la liste sont alignés à gauche */
    padding-left: 0; /* Assurez-vous que les éléments de la liste sont alignés à gauche */
}

/* -------------------------------------------------------------------------- */
/* Etoile                               */
/* -------------------------------------------------------------------------- */

.etoile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.etoile h3 {
    margin-right: 10px;
}

.etoile ul {
    list-style: none;
    display: flex;
    color: rgb(23, 171, 179);
    padding-left: 0;
    gap: 5px;
}

.etoile ul li {
    display: inline-block;
    margin-right: 2px;
}

.etoile h4 {
    font-weight: bold;
    margin-right: auto;
}

/* -------------------------------------------------------------------------- */
/* Langue                               */
/* -------------------------------------------------------------------------- */

.language {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.language ul {
    list-style: none;
    padding-left: 0;
}

.language li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.speak {
    margin-left: 150px; /* Pousse l'élément speak vers la droite */
    font-size: 1em;
    font-weight: normal;
    color: #333333;
}

/* -------------------------------------------------------------------------- */
/* Puces                               */
/* -------------------------------------------------------------------------- */

.sidebar .puces {
    list-style: none;
    padding-left: 0;
}

.sidebar .puces li {
    position: relative;
    padding-left: 20px;/* espaces entre les elements de la liste*/
    margin-bottom: 10px;/* marge entre les puces et le texte*/
}

.sidebar .puces li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-color: rgb(23, 171, 179);
    border-radius: 2px;
}

/* -------------------------------------------------------------------------- */
/* Main Content                               */
/* -------------------------------------------------------------------------- */

.main-content {
    min-width: 60%;
    flex: 1;
    background-color: #ffffff;
    padding: 8px;
    overflow-wrap: break-word;
    flex-grow: 1;
    margin-left: 20px;
}

.main-content h2,
.formation h2,
.experience h2 {
    margin-bottom: 10px 0;
    width: auto;
}

.main-content p {
    text-indent: 20px;
    text-align: justify;
    margin-bottom: 20px;
    font-size: 1.1em;
}

.main-content ul {
    list-style: none;
    padding-left: 0;
}

.main-content ul li {
    margin-bottom: 10px;
}

.main-content,
.profil,
.formation,
.experience {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.formation ul,
.experience ul {
    list-style: none;
    padding-left: 0;
}

.formation li,
.experience li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.formation,
.experience {
    width: 100%;
}

/* -------------------------------------------------------------------------- */
/* special etoile                               */
/* -------------------------------------------------------------------------- */

.social i {
    transition: opacity 0.3s ease;
}

.social i:hover {
    opacity: 0.7;
}

/* -------------------------------------------------------------------------- */
/* Expérience et Formations                  */
/* -------------------------------------------------------------------------- */

.experience ul,
.formation ul {
    text-align: left;
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.experience ul li {
    position: relative; /* Nécessaire pour le positionnement des éléments enfants */
    transition: background-color 0.3s ease;
    padding-left: 10px;
    box-sizing: border-box;
    z-index: 1;
    display: flex; /* Garde le li en mode flex pour aligner le texte et la date */
    justify-content: space-between; /* Espace entre le texte et la date */
    align-items: flex-start; /* Assure que les éléments sont alignés verticalement */
    width: 100%; /* Assure que l'élément prend toute la largeur */
    margin-bottom: 6px; /* Espacement entre les éléments */
}

.formation ul li {
    position: relative; /* Nécessaire pour le positionnement des éléments enfants */
    transition: background-color 0.3s ease;
    padding-left: 10px;
    box-sizing: border-box;
    z-index: 1;
    display: flex; /* Garde le li en mode flex pour aligner le texte et la date */
    flex-direction: column;
    justify-content: space-between; /* Espace entre le texte et la date */
    align-items: flex-start; /* Assure que les éléments sont alignés verticalement */
    width: 100%; /* Assure que l'élément prend toute la largeur */
    margin-bottom: 0; /* Espacement entre les éléments */
}

.formation ul li span {
    display: block; /* Force le span à être un bloc, le plaçant sur une nouvelle ligne */
    text-align: left; /* Assure que le texte du span est aligné à gauche */
    margin-top: 5px; /* Espace au-dessus du span */
    width: 100%;
}

/* -------------------------------------------------------------------------- */
/* Séparateur en dessous des titres                               */
/* -------------------------------------------------------------------------- */

h2 {
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 5px; /* Ajout d'un espacement sous le titre */
    color: rgb(23, 171, 179);
}

h2::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0; /* Positionnement en bas de l'élément */
    width: 100%;
    height: 2px;
    border-bottom: 3px solid #e3e3e3;
}

.experience h2,
.formation h2 {
    position: relative;
    padding-bottom: 5px;/* hauteur de la barre de separation par le haut*/
    margin-bottom: 10px;/* hauteur de la barre de separation par le bas*/
}

.experience h2::after,
.formation h2::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    border-bottom: 3px solid #e3e3e3;
}

/* -------------------------------------------------------------------------- */
/* style spécifique pour les dates                                                                          */
/* -------------------------------------------------------------------------- */

.formation ul li .date {
    align-self: center;
    text-align: right; /* Aligner le texte à droite */
    margin-left: 5px; /* Permet de pousser la date à droite */
    padding-left: 10px; /* Ajouter un espacement à gauche pour éviter que la date soit trop proche du texte principal */
    width: 83vh; /* Changez la largeur pour qu'elle s'adapte au contenu */
    flex-shrink: 1; /* Empêche le rétrécissement de l'élément date */
    color: rgb(23, 171, 179);
} 

.experience ul li .date {
    align-self: flex-end;
    text-align: right; /* Aligner le texte à droite */
    margin-left: auto; /* Permet de pousser la date à droite */
    padding-left: 80px; /* Ajouter un espacement à gauche pour éviter que la date soit trop proche du texte principal */
    width: auto; /* Changez la largeur pour qu'elle s'adapte au contenu */
    flex-shrink: 0; /* Empêche le rétrécissement de l'élément date */
    color: rgb(23, 171, 179);
}

/* -------------------------------------------------------------------------- */
/* Effet de survol sur les expériences et formation                               */
/* -------------------------------------------------------------------------- */

.experience-item,
.formation-item {
    display: flex; /* Utiliser flex pour aligner le texte et la date sur la même ligne */
    justify-content: space-between; /* Espace entre le texte et la date */
    align-items: center; /* Aligne verticalement */
    padding: 10px 20px; /* Gardez une marge uniforme */
    transition: background-color 0.3s ease;
    width: 100%;
    position: relative;
}

.experience-item::before,
.formation-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;/* largeur de la barrette bleu cote de mon effet aux survol*/
    height: 100%;
    background-color: rgb(23, 171, 179);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.experience-item:hover,
.formation-item:hover {
    background-color: rgba(227, 227, 227, 0.7);
}

.experience-item:hover::before,
.formation-item:hover::before {
    opacity: 1;
}

/* -------------------------------------------------------------------------- */
/* Footer                                   */
/* -------------------------------------------------------------------------- */

footer {
    max-width: 1160px;
    width: 100%; /* Ajustez la largeur à 100% */
    background-color: rgb(23, 171, 179);
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    box-sizing: border-box; /* Assurez-vous que le padding est inclus dans la largeur */
}

footer .social {
    margin-bottom: 10px;
}

footer .social i {
    margin: 0 10px;
    font-size: 1.5em;
    color: #ffffff;
}

footer p .date {
    font-size: 0.9em;
    color: #ffffff;
}