/* -------------------------------------------------------------------------- */
/* Réinitialisation des marges et des paddings                               */
/* -------------------------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    line-height: 1.6;
    background-color: #ffffff;
    color: #333333;
    font-size: 18px;
    padding: 10px;
    position: relative;
    min-height: 100vh;/*pour que le body occupe toute la page*/
}

body::before,
body::after {
    content: "";
    position: fixed;/* Utilisation de fixed pour que l'ombre reste en place lors du lors du defilement*/
    top: 0;
    width: 150px;
    height: 100vh;/* Hauteur de l'ombre*/
    background-color: rgba(245, 245, 245, 0.2);
    z-index: -1;/* place l'ombre derriere le contenue du body*/
}

body::before {
    left: 0;
    box-shadow: 455px 0 20px rgba(227, 227, 227, 0.5);
}

body::after {
    right: 100px;
    box-shadow: -330px 0 20px rgba(227, 227, 227, 0.5);
}

.container {
    width: 1160px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    z-index: 1;
}

h2 {
    color: rgb(23, 171, 179);
}

h4 {
    font-size: 1.3em;
}

/* -------------------------------------------------------------------------- */
/* Header                                   */
/* -------------------------------------------------------------------------- */

header {
    background-color: rgb(23, 171, 179);
    color: white;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #f5f5f5;
    margin-bottom: 20px;
}

.photo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
    margin-left: 20px;
}

.photo-container img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #ffffff;
    box-shadow: 0 4px 8px rgba(51, 51, 51, 0.1);
    cursor: zoom-in;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding-left: 20px;
    justify-content: center;
}

.header-content h1 {
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    margin-bottom: 10px;
    color: #f5f5f5;
}

/* -------------------------------------------------------------------------- */
/* Contact                                  */
/* -------------------------------------------------------------------------- */

.contact {
    margin-top: 20px;
}

.contact ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
}

.contact-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: calc(50% - 10px);
}

.contact-row i {
    margin-right: 8px;
}

.contact-row:nth-child(1),
.contact-row:nth-child(2) {
    display: inline-block;
    width: 48%;
}

.contact-row:nth-child(3),
.contact-row:nth-child(4) {
    display: inline-block;
    width: 48%;
}

.contact h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.contact p {
    margin-bottom: 5px;
}

.contact a:hover {
    color: rgb(23, 171, 179);
    text-decoration: underline;
}

/* -------------------------------------------------------------------------- */
/* Expérience et Formations                  */
/* -------------------------------------------------------------------------- */

.experience ul,
.formations ul {
    text-align: left;
    list-style: none;
    padding-left: 0;
}

.experience ul li,
.formations ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.experience ul li em {
    color: rgb(23, 171, 179);
    margin-left: 200px;
}

.formations ul li {
    justify-content: space-between;
}

.formations ul li em {
    margin-left: 400px;
}

/* -------------------------------------------------------------------------- */
/* Content (Sidebar et Main Content)          */
/* -------------------------------------------------------------------------- */

.content {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.content-wrapper {
    display: flex; /* Utilise Flexbox pour la mise en page */
    justify-content: space-between; /* Espace entre le profil et le sidebar */
}

.main-content,
.sidebar {
    /* ... tes autres styles ... */
    height: 100%; /* Assure la même hauteur pour les deux éléments */
    align-items: stretch;
}

/* -------------------------------------------------------------------------- */
/* Sidebar                                  */
/* -------------------------------------------------------------------------- */

.sidebar {
    width: 30%;
    background-color: rgba(227, 227, 227, 0.5);
    padding: 20px;
    flex-shrink: 0;
    font-size: 16px;
}

.sidebar h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.sidebar h3 {
    font-size: 1.6em;
    margin-bottom: 5px;
}

.sidebar ul.puces {
    text-align: left;
    font-size: 1.1em;
}

.sidebar ul.puces li {
    font-size: 1.1em;
}

.sidebar section,
.sidebar ul,
.sidebar h2,
.sidebar h3 {
    margin-bottom: 25px;
}

/* -------------------------------------------------------------------------- */
/* Etoile                               */
/* -------------------------------------------------------------------------- */

.etoile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.etoile h3 {
    margin-right: 5px;
}

.etoile ul {
    list-style: none;
    display: flex;
    color: rgb(23, 171, 179);
    padding-left: 0;
}

.etoile ul li {
    margin-right: 2px;
}

.star-icon {
    font-size: 1em;
}


/* -------------------------------------------------------------------------- */
/* Langue                               */
/* -------------------------------------------------------------------------- */

.language {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-size: 1.6em;
    font-weight: bold;
}

.language ul {
    list-style: none;
    padding-left: 0;
}

.language li {
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.language,
.speak {
    font-size: 1.2em;
    margin-left: 20px;
    font-weight: normal;
    color: #333333;
}

/* Puces */
.puces {
    list-style: none;
    padding-left: 0;
}

.puces li {
    position: relative;
    padding-left: 35px;
    margin-bottom: 10px;
}

.puces li::before {
    content: '';
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-color: rgb(23, 171, 179);
    border-radius: 2px;
}

/* -------------------------------------------------------------------------- */
/* Main Content                               */
/* -------------------------------------------------------------------------- */

.main-content {
    min-width: 70%;
    flex: 1;
    background-color: #ffffff;
    padding: 20px;
    overflow-wrap: break-word;
}

.main-content h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.main-content p {
    text-indent: 20px;
    text-align: justify;
    margin-bottom: 20px;
    font-size: 1.1em;
}

.main-content ul {
    list-style: none;
    padding-left: 0;
}

.main-content ul li {
    margin-bottom: 10px;
}

.main-content,
.profil,
.formation,
.experience {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.experience ul {
    list-style: none;
    padding-left: 0;
}

.experience li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}


/* -------------------------------------------------------------------------- */
/* special etoile                               */
/* -------------------------------------------------------------------------- */

.social i {
    transition: opacity 0.3s ease;
}

.social i:hover {
    opacity: 0.7;
}


/* -------------------------------------------------------------------------- */
/* Séparateur en dessous des titres                               */
/* -------------------------------------------------------------------------- */

.separateur-dessous {
    position: relative;
    margin-bottom: 20px;
}

.separateur-dessous::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #e3e3e3;
    margin-top: 10px;
}

/* -------------------------------------------------------------------------- */
/* Effet de survol sur les expériences et formations                               */
/* -------------------------------------------------------------------------- */

.experience-item,
.formation-item {
    position: relative;
    transition: background-color 0.3s ease;
    padding: 10px 20px;
    box-sizing: border-box;
    z-index: 1;
}

.experience-item::before,
.formation-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: rgb(23, 171, 179);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.experience-item:hover,
.formation-item:hover {
    background-color: rgba(227, 227, 227, 0.6);
}

.experience-item:hover::before,
.formation-item:hover::before {
    opacity: 1;
}

/* -------------------------------------------------------------------------- */
/* Footer                                   */
/* -------------------------------------------------------------------------- */

footer {
    width: 1160px;
    background-color: rgb(23, 171, 179);
    padding: 20px;
    text-align: center;
    margin: 0 auto;
}

footer .social {
    margin-bottom: 10px;
}

footer .social i {
    margin: 0 10px;
    font-size: 1.5em;
    color: #ffffff;
}

footer .date {
    font-size: 0.9em;
    color: #ffffff;
}